<h2>Your cart</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Summary price</th>
    </tr>
  </thead>
  <tbody>

  <% total_price = 0 %>
  <% total_quantity = 0 %>

  <% @items.each do |item| %>
    <tr>
      <th scope="row"><%= item[0].id %></th>
      <td>
          <a href="/cart/<%= item[0].id %>"><%= item[0].title %></a>
      </td>
      <td><%= item[0].price %></td>
      <td><%= item[1]%></td>
      <td><%= item[0].price * item[1].to_i %></td>
      <% total_price += item[0].price * item[1].to_i %>
      <% total_quantity += item[1].to_i %>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
  <p class="text-end fs-5"><strong> Total quantity: <%= total_quantity %></strong></p>
  <p class="text-end fs-5"><strong> Total price: <%= total_price %> uan</strong></p>
</div>

<h2>Подтвердить заказ:</h2>
<form class="" action="/place_order" method="post">
  <div class="mb-3">
    <label>Ваше имя</label>
    <input name="order[name]" type="text" class="form-control" placeholder="Введите Ваше имя" value="<% %>" autocomplete="off">
  </div>

  <div class="mb-3">
    <label>Ваш телефон</label>
    <input name="order[phone]" type="text" class="form-control" placeholder="Введите номер Вашего телефона" value="<% %>" autocomplete="off">
  </div>

  <div class="mb-3">
    <label>Адрес доставки:</label>
    <textarea name="order[delivery_address]" class="form-control" placeholder="Введите адрес доставки" value="<% %>" rows="3" cols="80"></textarea>
  </div>

  <div class="mb-3">
    <input name="order[client_order]" value="<%= @client_bye %>" type="text">
  </div>

  <button type="submit" class="btn btn-primary">Подтвердить заказ</button>
</form>
