<h2>Your cart</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Summary price</th>
    </tr>
  </thead>
  <tbody>

  <% total_price = 0 %>
  <% total_quantity = 0 %>

  <% @items.each do |item| %>
    <tr>
      <th scope="row"><%= item[0].id %></th>
      <td><%= item[0].title %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1]%></td>
      <td><%= item[0].price * item[1].to_i %></td>
      <% total_price += item[0].price * item[1].to_i %>
      <% total_quantity += item[1].to_i %>
    </tr>
    <% end %>
  </tbody>
</table>
<div>
  <p class="text-end fs-5"><strong> Total quantity: <%= total_quantity %></strong></p>
  <p class="text-end fs-5"><strong> Total price: <%= total_price %> uan</strong></p>
</div>
